## Settings for the usepweb_project which are install-specific or private.
##
## Copy this file to the repository-adjacent `.env` file and replace these
## dummy values with local development or deployment values.


## ============================================================================
## usep_project settings
## ============================================================================


USEPWEB__SECRET_KEY="django-insecure-example-secret-key-change-me"

USEPWEB__DEBUG_JSON="true"

USEPWEB__ADMINS_JSON='
[
    [
        "Example Admin",
        "admin@example.edu"
    ]
]
'

USEPWEB__EMAIL_FROM_ADDRESS="webmaster@example.edu"

USEPWEB__ALLOWED_HOSTS='["127.0.0.1", "localhost"]'

USEPWEB__DATABASES_JSON='
{
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "HOST": "",
        "NAME": "/tmp/usepweb-example.sqlite3",
        "PASSWORD": "",
        "PORT": "",
        "USER": ""
    }
}
'

USEPWEB__STATIC_URL="/static/"
USEPWEB__STATIC_ROOT="/tmp/usepweb-static/"

USEPWEB__STATICFILES_DIRS_JSON='[
    "/tmp/usepweb-data"
]'

USEPWEB__TEMPLATE_DIRS='["/tmp/usepweb_project/usep_app"]'

USEPWEB__EMAIL_HOST="localhost"
USEPWEB__EMAIL_PORT="1025"

USEPWEB__LOG_PATH="/tmp/usepweb.log"
USEPWEB__LOG_LEVEL="DEBUG"


## ============================================================================
## usep_app settings
## ============================================================================


USEPWEB__LOGIN_URL="http://127.0.0.1:8000/projects/usep/login/"

USEPWEB__SOLR_URL_BASE="http://127.0.0.1:9999/solr/example-core/select/"

USEPWEB__DISPLAY_PUBLICATIONS_BIB_URL="/static/usep/xml/titles.xml"
USEPWEB__DISPLAY_PUBLICATIONS_XSL_URL="/static/usep/xsl/temp_pubs.xsl"

USEPWEB__INSCRIPTIONS_URL_SEGMENT="http://127.0.0.1:8000/static/usep_images"

USEPWEB__DISPLAY_INSCRIPTION_XML_URL_PATTERN="/static/inscriptions/INSCRIPTION_ID.xml"
USEPWEB__DISPLAY_INSCRIPTION_XSL_URL="/static/resources/xsl/USEp_display.xsl"

USEPWEB__DISPLAY_INSCRIPTION_SAXONCE_FILE_URL="/static/usep/js/saxonce/Saxonce.nocache.js"
USEPWEB__DISPLAY_INSCRIPTION_XIPR_URL="/static/usep/xsl/xipr.xsl"

USEPWEB__REINDEX_ALL_URL="https://example.invalid/listener_webapp/reindex_all/"
USEPWEB__DELETE_ORPHANS_URL="https://example.invalid/listener_webapp/list_orphans/"

## end ##
