{% extends "usep_templates/base.html" %}
{% load quote_plus_tag %}

{% block in_page_css%}
  <style type="text/css">
  div#main ul {
    display: block;
    margin: 0 0.25cm 0 0;
  }
  
  div#main ul  {
  display: block;
  
  }

  div#main li {
    display: inline-block;
    margin: 0 0.25cm 0 0;
  }
  
  .bibID {
    color: grey;
  }
 /* div#main ul li:after {
    content: ',';
  }
 */

  </style>
{% endblock %}

{% block head_title %}US Epigraphy — Publications{% endblock head_title %}

{% block page_title %}Publications{% endblock page_title %}

{% block content %}
  <div id="loading" style="background-image: url('{{ custom_static_url }}usep/loading.png');"></div>
  <div id="main" style="display:visible;">

    <div id="container" style="position:relative; left:-20px;"></div>

    <hr/>

  </div>
{% endblock content %}

{% block page_js %}

<!-- Loading client-side XSL processor -->
<script type="text/javascript" language="javascript" src="{{ custom_static_url }}usep/js/saxonce/Saxonce.nocache.js"></script>

<script type="text/javascript" language="javascript" src="{{ custom_static_url }}usep/js/fade.js"></script>

{% endblock page_js %}
